<div class="row">
  <h2 class="col-xs-3 col-xs-offset-2">商品編集</h2>
</div>
<div class="row">
  <%= form_for(@item, url: admin_item_path, method: :patch) do |f| %>
    <div class="col-xs-3 col-xs-offset-2">
      <%= attachment_image_tag @item, :image, format: "jpeg", width:"250", height:"200", fallback: "no_image.jpg" %>
        <div class="form-group">
          <label for="name">商品画像</label>
          <%= f.attachment_field :image %>
        </div>
    </div>
    <div class="col-xs-5">
        <div class="form-group">
          <label for="name">商品名</label>
          <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="form-group">
          <label for="introduction">商品説明</label>
          <%= f.text_area :introduction, size: "10x5", class:"form-control" %>
        </div>
        <div class="form-group">
          <label for="genre">ジャンル</label>
          <%= f.select :genre_id, @genres.map{ |genre| [genre.name, genre.id]}, {include_blank: "選択してください"}, class:"form-control" %>
        </div>
        <div class="form-group">
          <label for="price">税抜価格</label>
          <div class="form-inline">
            <%= f.text_field :price, class:"form-control" %><span> 円</span>
          </div>
        </div>
        <div class="form-group">
          <label for="is_sale_status">販売ステータス</label>
          <%= f.select :is_sale_status, [["販売中", true], ["売り切れ", false]], {},class:"form-control" %>
        </div>
        <%= f.submit "変更する", class:"btn btn-success" %>
    </div>
  <% end %>
</div>