<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h2>商品一覧</h2>
    <%= link_to "link", new_admin_item_path %>

    <table cellpadding="5" class="table table-hover">
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
      <% @items.each do |item| %>
        <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
            <td><%= item.genre_id %></td>
            <td><%= item.is_sale_status %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>