<!-- 新規注文情報入力ページを表示 -->
<div class ="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offet-1">
     	<h3>注文情報入力</h3>

      <%= form_tag url: order_completion_path(@member) do %>
        <div class="form-group">
          <%= label_tag "支払方法" %><br>
          <%= select_tag "pm", options_for_select(["銀行振込", "クレジットカード"]),include_blank: "選択してください", class:"form-control" %>
          <%= label_tag "お届け先" %><br>
          <%= radio_button_tag("r1", "radio1" ) %><span>ご自身の住所</span><br>
          <%= @member.postal_code %>
          <%= @member.address %><br>
          <%= @member.name_family %>
          <%= @member.name_first %><br>
          <%= radio_button_tag("r2", "radio2")%><span>登録済み住所から選択</span><br>
          <% @member_shipping_addresses.each do |member_shipping_address| %>
            <p><%= member_shipping_address %></p>
          <% end %>
          <%= text_field :postal_code %>
        </div>
      <% end %>

      <%= form_for(@member, @order) %>
    </div>
  </div>
</div>