<div class="row">
  <div class="col-xs-2 col-xs-offset-1">
    <%= render "items/genre_search", genres: @genres %>
  </div>
  <div class="col-xs-6 item-show">
    <div class="item_image_show">
      <%= attachment_image_tag @item, :image, format: "jpeg", width:"300", height:"200", fallback: "no_image.jpg" %>
    </div>
    <div class="item-detail">
      <h3><%= @item.name %></h3>
      <p><%= @item.introduction %></p>
      <h4>¥<%= @item_tax_included_price.to_s(:delimited) %>（税込）</h4>
    </div>
  </div>
</div>