<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%# ヘッダー項目 左ロゴ（root_path), 右各種リンク%>
  <%# 顧客ログイン前 About、商品一覧、新規登録、ログイン（管理者ログイン前も）%>
  <%# 顧客ログイン後 マイページ、商品一覧、カート、ログアウト %>
  <%# 管理者ログイン後 商品一覧、会員一覧、注文履歴一覧、ジャンル一覧、ログアウト %>
  <header>

  </header>

  <body>
    <%= yield %>
  </body>
</html>
