<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  <%# ヘッダー項目 左ロゴ（root_path), 右各種リンク%>
  <% if admin_signed_in? %>
    <%# 管理者ログイン後 商品一覧、会員一覧、注文履歴一覧、ジャンル一覧、ログアウト %>
    <%# 検索機能実装 %>
      <div class="container">
          <div class="logo-image">
             <%= link_to root_path do %>
               <%= image_tag "logo.jpg" %>
             <% end %>
          </div>
          <div class="header-right row col-xs-offset-5">
            <%= link_to '商品一覧', admin_items_path, class: "btn btn-primary" %>
            <%= link_to '会員一覧', admin_members_path, class: "btn btn-primary" %>
            <%= link_to '注文履歴一覧', admin_orders_path, class: "btn btn-primary" %>
            <%= link_to 'ジャンル一覧', admin_genres_path, class: "btn btn-primary" %>
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-primary" %>
          <%# <%= form_tag(search_path, method: :get) do %> %>
            <%# <%= text_field_tag (:word) %> %>
            <%# <%= select_tag 'range', options_for_select([['会員'=>'member'],['商品'=>'item']]) %> %>
              <%# <%= select(@search_content, :search_method, [["前方一致", "forward_match"],["後方一致","backward_match"],["完全一致","perfect_match"],["部分一致","partial_match"]]) %> %>
            <%# <%= submit_tag 'Search' %> %>
          <%= form_tag(search_path, method: :get) do %>
            <%= text_field_tag'search[content]' %>
             <%= select_tag 'search[model]', options_for_select([["会員", "1"], ["商品", "2"]]) %>
            <%= select_tag 'search[how]', options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"}) %>
            <%= submit_tag '検索', class: "btn btn-primary" %>
          <% end %>
          </div>
      </div>  
      <% elsif member_signed_in? %>
    <%# 顧客ログイン後 マイページ、商品一覧、カート、ログアウト %>
      <div class="container">
          <div class="logo-image">
             <%= link_to root_path do %>
               <%= image_tag "logo.jpg" %>
             <% end %>
          </div>
          <div class="header-right row col-xs-offset-5">
            <span class="col-xs-4">ようこそ、 <%= current_member.name_family %>さん！</span>
            <%= link_to 'マイページ', member_path(current_member.id), class: "btn btn-primary head-nav-item" %>
            <%= link_to '商品一覧', items_path, class: "btn btn-primary" %>
            <%= link_to 'カート', member_cart_items_path(current_member.id), class: "btn btn-primary" %>
            <%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: "btn btn-primary" %>
          </div>
      </div>
      <% else %>
    <%# 顧客ログイン前 About、商品一覧、新規登録、ログイン（管理者ログイン前も）%>
      <div class="container">
          <div class="logo-image">
             <%= link_to root_path do %>
               <%= image_tag "logo.jpg" %>
             <% end %>
          </div>
          <div class="header-right row col-xs-offset-5">
          <%= link_to 'About', about_path, class: "btn btn-primary" %>
          <%= link_to '商品一覧', items_path, class: "btn btn-primary" %>
          <%= link_to '新規登録', new_member_registration_path, class: "btn btn-primary" %>
          <%= link_to 'ログイン', new_member_session_path, class: "btn btn-primary" %>
        </div>
      </div>
  <% end %>


  </header>

  <body>
    <div class="main">
       <%= yield %>
    </div>
  </body>

  <footer></footer>
</html>
