<%# 顧客の登録情報編集ページ %>
<div class="container">
  <div class="row">
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2 style="color: red;"><%= @member.errors.count %>件のエラーが発生しました</h2>
      <ul style="color: red;">
        <% @member.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <h2>登録情報編集</h2>
   <%= form_for(@member) do |f| %>
      <table class="table col-xs-7">
        <tbody>
          <tr>
            <td class="col-xs-2">氏名</td>
            <td class="col-xs-5">（姓）<%= f.text_field :name_family, autofocus: true %></td>
            <td>（名）<%= f.text_field :name_first, autofocus: true %></td>
          </tr>
          <tr>
            <td class="col-xs-2">カナ</td>
            <td>（セイ）<%= f.text_field :name_family_kana, autofocus: true %></td>
            <td>（メイ）<%= f.text_field :name_first_kana, autofocus: true %></td>
          </tr>
          <tr>
            <td class="col-xs-2">郵便番号</td>
            <td><%= f.text_field :postal_code, autofocus: true %></td>
          </tr>
          <tr>
            <td class="col-xs-2">住所</td>
            <td><%= f.text_field :address, autofocus: true %></td>
          </tr>
          <tr>
            <td class="col-xs-2">電話番号</td>
            <td><%= f.text_field :phone_number, autofocus: true %></td>
          </tr>
          <tr>
            <td class="col-xs-2">メールアドレス</td>
            <td><%= f.text_field :email, autofocus: true %></td>
          </tr>
          <tr>
            <td><%= f.submit '編集内容を保存する', class: "btn btn-primary"%></td>
            <td><%= link_to '退会する', withdrawal_path, class: "btn btn-danger" %></td>
          </tr>
        </tbody>
      </table>
    <% end %> 
  </div>
</div>